@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
}

a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: #333;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}


